html {
  font-family: "Inconsolata", monospace;
  height: 100%;
  width: 100%;
}

body {
  width: 90%;
  height: 80%;
  margin: auto;
}

#menubutton {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: 80%;
  opacity: 30%;
}

#menubutton:hover {
  opacity: 100%;
}

.menu {
  display: none;
  padding: 5px;
  border: solid;
  border-color: #000;
  border-width: 1px;
  background-color: #fff;
  width: 300px;
  margin-right: 10%;
  margin-left: calc(90% - 300px);
  margin-top: 2%;
  z-index: 2;
  position: absolute;
}

.player-inputs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.set-player-names {
  margin-top: 5px;
  margin-bottom: 5px;
}

.reset-left {
  float: left;
  width: 40%;
}

.reset-right {
  float: left;
  width: 40%;
}

.color-buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}

#player1-color {
  background-color: #fff;
  border-radius: 3px;
  border: solid;
  border-color: #eee;
  padding-top: 1px;
  padding-bottom: 1px;
}

#player2-color {
  background-color: #fff;
  border-radius: 3px;
  border: solid;
  border-color: #eee;
  padding-top: 1px;
  padding-bottom: 1px;
}

.points {
  height: 65%;
}

.column {
  font-size: 110px;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  float: left;
  width: 50%;
  z-index: 1;
}

.inner-left-column {
  font-size: 110px;
  text-align: right;
  margin-top: auto;
  float: left;
  width: 40%;
  padding: 15px 10px 0px 0px;
}

.inner-right-column {
  font-size: 110px;
  text-align: left;
  float: left;
  width: 40%;
  padding: 0px 0px 0px 10px;
}

.points:after {
  content: "";
  display: table;
  clear:both;
}

.sets {
  font-size: 50px;
}

.player {
  background-color: #fafafa;
  text-align: left;
  float: left;
  width: 20%;
  border-radius: 5px 0px 0px 5px;
}

#player1-name-sets {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#player2-name-sets {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 0px 5px;
}

.rounds {
  float: left;
  width: calc(50% - 60px);
}

.matchtime {
  font-size: 50px;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: calc(145px - 50px - 10px - 2.5px);
  padding-bottom: 10px;
}

#player1-rounds {
  display: inline-block;
  background-color: #fafafa;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 5px 0px 0px;
}

#player2-rounds {
  display: inline-block;
  background-color: #fafafa;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 0px;
}

#round-error {
  color: red;
  font-size: 10px;
}
